@import "variables";

.footer {
  padding-top: 0;

  &-content {
    padding-top: 40px;
  }

  &-breadcrumbs {
    padding: $space-size-extra-small 0;
    display: flex;
    align-items: center;
    min-height: 50px;
    color: #797979;
    background-color: #f8f8f8;
    border-width: 1px 0;
    border-style: solid;

    a {
      color: #797979;

      &:hover {
        color: black;
      }
    }
  }
}
