@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/flexbox";

.box {
  box-sizing: border-box;
  padding: $space-size-medium;
  background-color: white;
  margin-bottom: $space-size-medium;
}

.product {
  img.alignright { float: right; margin: 0 0 1em 1em; }
  img.alignleft { float: left; margin: 0 1em 1em 0; }
  img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
  .alignright { float: right; }
  .alignleft { float: left; }
  .aligncenter { display: block; margin-left: auto; margin-right: auto; }

  &-body {
    @include border-radius(5px);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background-color: white;
    margin-bottom: $space-size-medium;
    box-sizing: border-box;
    padding: $space-size-medium;
  }

  &-header {
    .panel {
      &-heading {
        padding-top: $space-size-medium;
        padding-left: $space-size-medium;
        padding-right: $space-size-medium;
      }
      &-body {
        padding-left: $space-size-medium;
        padding-right: $space-size-medium;
      }
    }
  }

  &-title {
    margin: 0;
  }

  &-excerpt {
    display: block;
    margin-bottom: $space-size-medium;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-rating {
    margin: 0;

    i {
      color: orange;
    }

    @media #{$screen-xs-max} {
      span::before {
        content: '\A';
        display: block;
      }
    }
  }

  &-details {
    .price {
      color: $price-comparison-current-price-color;
    }
  }

  &-thumbnail {
    padding: 0;
    margin: 0;
    width: $product-thumbnail-width;
    height: $product-thumbnail-height;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $product-thumbnail-border;
    color: lightgrey;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-image-gallery {
    margin-bottom: $space-size-small;

    // Fixed some loading and stylistic bugs
    .slick {
      &-slider {
        visibility: hidden;

        &.slick-initialized {
          visibility: visible;
        }
      }

      &-slide {
        outline: none;
      }
    }

    .portfolio-slider {
      padding: 0;
      margin: 0 auto;
      width: $product-thumbnail-width;
      height: $product-thumbnail-height;
      display: block;
      box-sizing: content-box;
      border: $product-thumbnail-border;

      .slick-slider-item {
        outline: none;

        img {
          margin: 0 auto;
        }
      }
    }

    .thumb-slider {
      display: block;
      margin: $space-size-small auto 0 auto;
    }
  }
}
