@import "variables";
@import "compass/css3/border-radius";
@import "compass/css3/flexbox";

.box {
  box-sizing: border-box;
  padding: $space-size-medium;
  background-color: white;
  margin-bottom: $space-size-medium;
}

.product {
  &-title {
    margin-top: 0;
  }

  &-thumbnail {
    padding: 0;
    margin: 0;
    width: $product-thumbnail-width;
    height: $product-thumbnail-height;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $product-thumbnail-border;
    color: lightgrey;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-image-gallery {
    margin-bottom: $space-size-small;

    // Fixed some loading and stylistic bugs
    .slick {
      &-slider {
        visibility: hidden;

        &.slick-initialized {
          visibility: visible;
        }
      }

      &-slide {
        outline: none;
      }
    }

    .portfolio-slider {
      padding: 0;
      margin: 0 auto;
      width: $product-thumbnail-width;
      height: $product-thumbnail-height;
      display: block;
      box-sizing: content-box;
      border: $product-thumbnail-border;

      .slick-slider-item {
        outline: none;

        img {
          margin: 0 auto;
        }
      }
    }

    .thumb-slider {
      display: block;
      margin: $space-size-small auto 0 auto;
    }
  }
}
