@import "variables";
@import "compass/css3/border-radius";

.nav-tabs {
  li {
    a {
      border-top: 1px solid #ddd !important;
      border-bottom: 0 !important;
    }
  }
}

.tab-content {
  padding: $space-size-medium;
}
