@import "../variables";

@mixin border-radius($value: $border-radius-default) {
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin border-top-radius($value: $border-radius-default) {
  -moz-border-radius-topleft: $value;
  -webkit-border-top-left-radius: $value;
  border-top-left-radius: $value;

  -moz-border-radius-topright: $value;
  -webkit-border-top-right-radius: $value;
  border-top-right-radius: $value;
}

@mixin border-bottom-radius($value: $border-radius-default) {
  -moz-border-radius-bottomleft: $value;
  -webkit-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;

  -moz-border-radius-bottomright: $value;
  -webkit-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-top-left-radius($value: $border-radius-default) {
  -moz-border-radius-topleft: $value;
  -webkit-border-top-left-radius: $value;
  border-top-left-radius: $value;
}

@mixin border-top-right-radius($value: $border-radius-default) {
  -moz-border-radius-topright: $value;
  -webkit-border-top-right-radius: $value;
  border-top-right-radius: $value;
}

@mixin border-bottom-left-radius($value: $border-radius-default) {
  -moz-border-radius-bottomleft: $value;
  -webkit-border-bottom-left-radius: $value;
  border-bottom-left-radius: $value;
}

@mixin border-bottom-right-radius($value: $border-radius-default) {
  -moz-border-radius-bottomright: $value;
  -webkit-border-bottom-right-radius: $value;
  border-bottom-right-radius: $value;
}

@mixin border-top-radius($value: $border-radius-default) {
  @include border-top-right-radius($value);
  @include border-top-left-radius($value);
}

@mixin border-right-radius($value: $border-radius-default) {
  @include border-top-right-radius($value);
  @include border-bottom-right-radius($value);
}

@mixin border-bottom-radius($value: $border-radius-default) {
  @include border-bottom-right-radius($value);
  @include border-bottom-left-radius($value);
}

@mixin border-left-radius($value: $border-radius-default) {
  @include border-top-left-radius($value);
  @include border-bottom-left-radius($value);
}
