@mixin box-shadow($horizontal: 0, $vertical: 1px, $blur: 1px, $spread: 0, $color: rgba(black, .2)) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: $horizontal $vertical $blur $spread $color;
  box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin box-inner-shadow($horizontal: 0, $vertical: 5px, $blur: 10px, $spread: 0, $color: rgba(black, 1)) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $spread $color;
  box-shadow: inset $horizontal $vertical $blur $spread $color;
}
