@import "variables";

article.post, article.page {
  box-sizing: border-box;
  margin-bottom: 25px;

  address {
    font-style: italic;
  }

  .post {

    &-thumbnail img {
      width: 100%;
      height: auto;
    }

    &-body,
    &-footer {
      padding: 25px 50px;
      box-sizing: border-box;
      background-color: white;

      @media #{$screen-sm-max} {
          padding: 15px;
      }
    }

    &-footer {
      margin-top: 20px;
    }

    &-meta {
      list-style: none;
      display: inline;

      li {
        float: left;
      }
    }
  }

  & > div {
    width: 100%;
    display: block;
  }

  & > p {
    margin: 1.5em 0;
  }

  %alignment {
    &.alignright {
      float: right;
      margin: 0 0 1em 1em
    }
    &.alignleft {
      float: left;
      margin: 0 1em 1em 0
    }
    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
  }

  div,
  img {
    max-width: 100%;
    height: auto;
    @extend %alignment;
  }

  a img {
    @extend %alignment;
  }

  .wp-caption-text {
    text-align: center;
    margin-top: 0.5em;
  }
}
