.post {
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 25px;

  &-thumbnail img {
    width: 100%;
    height: auto;
  }

  &-body {
    padding: 25px;
    box-sizing: border-box;
  }

  &-meta {
    list-style: none;
    display: inline;

    li {
      float: left;
    }
  }
}
