.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  display: inline;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
.panel-heading {
  border: 1px solid grey;
}

/*
.btn-buy {
  background-color: #ff8c14;
  color: white;
  border: 1px solid darken(#ff8c14, 2);

  &:hover,
  &:focus {
    color: white;
    background-color: darken(#ff8c14, 2);
  }
}
*/
/*
.alert {
  &-success {
    background-color: lighten(#b9df90, 10);
    border: 1px solid #a0d468
  }
  &-danger {
    background-color: lighten(#f2838f, 10);
    border: 1px solid #ed5565
  }
  &-warning {
    background-color: lighten(#ffdd87, 10);
    border: 1px solid #ffce54
  }
  &-info {
    background-color: lighten(#7cd1ef, 10);
    border: 1px solid #4fc1e9;
  }
}
*/
.label-sm {
  font-size: 12px;
}
.label-md {
  font-size: 16px;
}
.label-lg {
  font-size: 20px;
}

html, body {
  font-size: 16px;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: #555;
  line-height: 28.8px;
  letter-spacing: 0.01rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: black;
  line-height: 2.64rem;
  letter-spacing: 0.01rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: black;
  line-height: 2.16rem;
  letter-spacing: 0.01rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: black;
  line-height: 2.08rem;
  letter-spacing: 0.01rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: black;
  line-height: 1.96rem;
  letter-spacing: 0.01rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: black;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: black;
  line-height: 1.6rem;
  letter-spacing: 0.01rem;
}

p {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: #555;
  line-height: 28.8px;
  letter-spacing: 0.01rem;
}

body {
  background-color: #ebebeb;
}

.tight main {
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
}
.tight nav {
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .tight > .container {
    margin: 0;
    padding: 0;
  }
}
#header {
  padding-top: 20px;
  padding-bottom: 20px;
}
#header #title {
  margin-bottom: 5px;
}
.tight #header {
  padding-right: 20px;
  padding-left: 20px;
}
#header #logo {
  max-width: 100%;
  height: auto;
}

.navbar {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
.navbar-collapse {
  padding: 0;
  margin: 0;
}

.product-body {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 30px;
}
.product-header .panel {
  box-sizing: border-box;
  padding: 30px;
}
.product-title {
  margin: 0;
}
.product-excerpt {
  display: block;
  padding-bottom: 15px;
}
.product-excerpt p {
  margin: 0;
  padding: 0;
}
.product-review {
  margin: 0;
  padding-bottom: 15px;
}
@media only screen and (max-width: 520px) {
  .product-review-number-rating::before {
    content: '\A';
    display: block;
  }
}
.product-details tr[data-detail-name="price"] td:last-child {
  color: #2fa32f;
}
.product-thumbnail {
  padding: 0;
  margin: 0 auto 15px auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid lightgrey;
  color: lightgrey;
}
.product-thumbnail img {
  width: 100%;
  height: auto;
}
.product-image-gallery {
  margin-bottom: 15px;
}
.product-image-gallery .slick-slider {
  visibility: hidden;
}
.product-image-gallery .slick-slider.slick-initialized {
  visibility: visible;
}
.product-image-gallery .slick-slide {
  outline: none;
}
.product-image-gallery .portfolio-slider {
  padding: 0;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  display: block;
  box-sizing: content-box;
  border: 1px solid lightgrey;
}
.product-image-gallery .portfolio-slider .slick-slider-item {
  outline: none;
}
.product-image-gallery .portfolio-slider .slick-slider-item img {
  margin: 0 auto;
}
.product-image-gallery .thumb-slider {
  display: block;
  margin: 15px auto 0 auto;
}

.aff-product-attributes-container {
  margin-bottom: 30px;
  width: 100%;
}
.aff-product-attributes-choices {
  list-style: none;
  width: 100%;
  margin-bottom: 15px;
}
.aff-product-attributes-choices:last-child {
  margin-bottom: 0;
}
.aff-product-attributes-choices-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 0;
}
.aff-product-attributes-choice {
  list-style: none;
  border-width: 1px;
  border-style: solid;
  padding: 5px 15px;
  margin-left: 15px;
}
.aff-product-attributes-choice.unreachable {
  opacity: 0.5;
  border-style: dotted;
}
.aff-product-attributes-choice:first-child {
  margin-left: 0;
}
.aff-product-attributes-choice-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 0;
}

.entry {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 30px;
  /*&-avatar {
    $post-thumbnail-min-size:   50px;
    $post-thumbnail-max-size:   200px;
    $post-avatar-size:          50px;

    @include border-radius(50%);
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    float: right;

    img {
      @include border-radius(50%);
      width: $post-avatar-size * 1.6;
      height: $post-avatar-size * 1.6;
    }
  }*/
}
.entry-header {
  box-sizing: border-box;
  position: relative;
  padding: 30px;
  padding-bottom: 15px;
}
.entry-title {
  text-align: left;
  margin-top: 0 !important;
}
.entry-meta {
  display: inline-block;
  padding: 0;
}
.entry-meta li {
  display: inline;
  list-style: none;
}
.entry-meta li:not(.entry-meta li:first-child):before {
  content: "/";
}
.entry-thumbnail {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 30px;
  max-height: 350px;
  overflow: hidden;
}
.entry-thumbnail img {
  width: 100%;
  height: auto;
}
.entry-body {
  box-sizing: border-box;
  padding: 30px;
  padding-top: 0;
}
.entry-footer {
  box-sizing: border-box;
  padding: 30px;
  padding-top: 0;
}
.entry-tags span {
  display: inline-block;
  margin-left: 15px;
}
.entry-tags span:first-child {
  margin-left: 0;
}
.archive .entry, .blog .entry {
    /*&-avatar {
      $post-thumbnail-min-size:   50px;
      $post-thumbnail-max-size:   200px;
      $post-avatar-size:          50px;

      position: absolute;
      padding: $space-size-extra-small;
      right: $space-size-small;
      top: (-1 * ($post-avatar-size + $space-size-extra-small) / 2);
    }*/
}
.archive .entry-title, .blog .entry-title {
  font-size: 1.8rem;
  line-height: black;
}
.archive .entry-title a, .blog .entry-title a {
  color: black;
}
.archive .entry-thumbnail, .blog .entry-thumbnail {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
}
.sidebar, .sidebar > ul, .sidebar > ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar .panel-heading h4 {
  margin: 0;
  text-align: center;
}
.sidebar .panel-body {
  box-sizing: border-box;
  padding: 30px;
}
.sidebar .panel-body .product-details {
  margin: 0;
  padding: 0;
}
.sidebar .panel > ul, .sidebar .panel ul.menu {
  box-sizing: border-box;
  padding: 15px 30px;
}
.sidebar .textwidget {
  box-sizing: border-box;
  padding: 30px;
}
.sidebar .searchform {
  box-sizing: border-box;
  padding: 30px;
}
.sidebar .searchform .form-group {
  float: left;
  height: 34px;
  display: block;
  width: calc(100% - 50px);
  border: 1px solid lightgray;
  border-right: 0;
  box-sizing: border-box;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sidebar .searchform .form-group input {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  border: 0;
}
.sidebar .searchform .form-group input:focus {
  outline-color: transparent;
  outline-style: none;
}
.sidebar .searchform button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 48px;
}
.sidebar .tagcloud {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px;
}
.sidebar .tagcloud a {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  background: rgba(85, 85, 85, 0.1);
  border: 1px solid rgba(85, 85, 85, 0.1);
  transition: all 0.1s ease-in-out;
}
.sidebar .tagcloud a:hover, .sidebar .tagcloud a:focus {
  transform: scale(1.1);
  text-decoration: none;
}

#wp-calendar {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  border-collapse: separate;
  border-spacing: 8px;
  margin-left: -2px;
  padding: 30px;
}
#wp-calendar tbody td a,
#wp-calendar tfoot td#prev a:hover,
#wp-calendar tfoot td#next a:hover {
  color: #47C2DC;
}
#wp-calendar tfoot td#prev a,
#wp-calendar tfoot td#next a {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  bottom: -9px;
  margin-bottom: 1px;
}
#wp-calendar tfoot td#prev {
  text-align: left;
}
#wp-calendar tfoot td#next {
  text-align: right;
}
#wp-calendar caption {
  display: none;
}
#wp-calendar thead th {
  font-size: 13px;
  font-weight: 400;
  color: #888;
  text-align: center;
  padding-bottom: 10px;
}
#wp-calendar tbody td {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #f4f4f4;
  padding: 5px;
}
#wp-calendar tbody td:hover {
  border-color: #e2e2e2;
}
#wp-calendar tbody td.pad {
  border: 0;
}
#wp-calendar tbody td#today {
  color: #47C2DC;
  border-color: #47C2DC;
}

.price-comparison .shop {
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  box-sizing: border-box;
  height: 100px;
  border: 1px solid lightgrey;
  width: 100%;
  margin-top: 15px;
  background-color: #f0f0f0;
}
.price-comparison .shop:first-child {
  margin-top: 0;
}
.price-comparison .shop-thumbnail, .price-comparison .shop-price, .price-comparison .shop-buy {
  width: 33.33333%;
  height: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 15px;
}
.price-comparison .shop-thumbnail {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid lightgrey;
}
.price-comparison .shop-thumbnail img {
  max-width: 100px;
  width: 100%;
  height: auto;
}
.price-comparison .shop-price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.price-comparison .shop-price .price {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: right;
}
.price-comparison .shop-price .price .old-price {
  float: right;
  color: #ff2320;
  display: inline-block;
  text-decoration: line-through;
  line-height: 0.96rem;
  font-size: 0.8rem;
}
.price-comparison .shop-price .price .current-price {
  float: right;
  width: 100%;
  padding: 0;
  color: #2fa32f;
  display: inline-block;
  font-weight: normal;
  line-height: 1rem;
  font-size: 1rem;
}
.price-comparison .shop-price .price-tax {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 0.96rem;
  font-size: 0.8rem;
}
.price-comparison .shop-buy {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer {
  padding-top: 0;
}
.footer-content {
  padding-top: 40px;
}
.footer-breadcrumbs {
  padding: 5px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-height: 50px;
  color: #797979;
  background-color: #f8f8f8;
  border-width: 1px 0;
  border-style: solid;
}
.footer-breadcrumbs a {
  color: #797979;
}
.footer-breadcrumbs a:hover {
  color: black;
}

.product-body .fluid-media, .entry-body .fluid-media {
  position: relative;
  padding-bottom: 56.25%;
  /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 1em 0 1em 0;
}
.product-body .fluid-media iframe, .entry-body .fluid-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-body img.alignright, .entry-body img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
.product-body img.alignleft, .entry-body img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
.product-body img.aligncenter, .entry-body img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-body .alignright, .entry-body .alignright {
  float: right;
}
.product-body .alignleft, .entry-body .alignleft {
  float: left;
}
.product-body .aligncenter, .entry-body .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product-body p.wp-caption-text, .entry-body p.wp-caption-text {
  text-align: center !important;
}
.product-body img, .entry-body img {
  max-width: 100%;
}
.product-body dt, .product-body dd, .entry-body dt, .entry-body dd {
  display: table-cell;
}
.product-body dt, .entry-body dt {
  display: table;
  float: left;
  clear: left;
  min-width: 50px;
  max-width: 200px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 25%;
  text-align: right;
  font-weight: bold;
}
.product-body dt:after, .entry-body dt:after {
  content: ":";
}
.product-body dd, .entry-body dd {
  margin-left: 500px;
}
.product-body img[class*="align"],
.product-body img[class*="wp-image-"], .entry-body img[class*="align"],
.entry-body img[class*="wp-image-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.nav-tabs li a {
  border-top: 1px solid #ddd !important;
  border-bottom: 0 !important;
}

.tab-content {
  padding: 30px;
}

.comments {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  background-color: white;
  margin-bottom: 30px;
}
.comments-title {
  padding: 30px;
  padding-bottom: 0;
}
.comments-list {
  margin: 0;
  padding: 0;
}
.comments-list > .comment {
  border-bottom: 1px solid lightgrey;
}
.comments-list .comment {
  padding: 15px 30px;
}
.comments-list .comment-meta {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.comments-list .comment-meta li {
  list-style: none;
  display: inline;
}
.comments-list .comment-author {
  font-size: 1.4rem;
  line-height: 1.96rem;
}
.comments-list .comment-date {
  font-size: 1rem;
  line-height: 28.8px;
}
.comments-list .comment .media-object img {
  border-radius: 50% !important;
}
.comments-closed {
  padding: 15px 30px;
}
.comments-closed .alert {
  margin-bottom: 0;
}
.comments .comment-respond {
  padding: 30px;
}
.comments .comment-respond h3 {
  margin-top: 0;
}
.comments .comment-form-author, .comments .comment-form-email, .comments .comment-form-url {
  width: 75%;
}
