@import "variables";

.aff-product-attributes {
  &-container {
    margin-bottom: $space-size-medium;
    width: 100%;
  }

  &-choices {
    list-style: none;
    width: 100%;
    margin-bottom: $space-size-small;

    &:last-child {
      margin-bottom: 0;
    }

    &-list {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }
  }

  &-choice {
    list-style: none;
    border-width: 1px;
    border-style: solid;
    padding: $space-size-extra-small $space-size-small;
    margin-left: $space-size-small;

    &.unreachable {
      opacity: 0.5;
      border-style: dotted;
    }

    &:first-child {
      margin-left: 0;
    }

    &-list {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }
  }
}
