@import "variables";
@import "mixins";

.entry, .entry-preview {
  @include border-radius();
  @include box-shadow();
  box-sizing: border-box;
  background-color: white;
  margin-bottom: $space-size-medium;

  &-header, &-teaser {
    box-sizing: border-box;
    display: flex;
    align-content: center;
    position: relative;
    justify-content: space-between;
  }

  &-title {
    @include font-headline-3;
    align-self: center;
    justify-self: flex-start;
    text-align: left;
    margin: 0;
    padding: $space-size-small $space-size-medium;
  }

  &-date {
    @include border-top-right-radius();
    padding: $space-size-small $space-size-medium;
    display: flex;
    justify-self: flex-end;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    width: 100px;

    .day, .month, .year {
      width: 100%;
      margin: 0;
      padding: 0;
      display: inline;
    }

    .day {
      @include font-headline-2;
      line-height: $font-size-headline-2 * 1.1;
    }

    .month {
      @include font-small-text;
      line-height: 1.2rem;
    }

    .year {
      @include font-small-text;
      line-height: 1.2rem;
    }
  }

  &-thumbnail {
    margin-bottom: 0;
    box-sizing: border-box;
    min-height: 200px;
    max-height: 350px;
    background-color: #fafafa;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-bar {
    width: 100%;
    padding: $space-size-small $space-size-medium;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(black, .5);
  }

  &-tags {
    span {
      display: inline-block;
      margin-left: $space-size-small;
      font-weight: 300;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.entry {
  &-body {
    box-sizing: border-box;
    padding: $space-size-medium;
  }
}

.entry-preview {
  &-thumbnail, &-bar {
    @include border-bottom-radius();
  }
}
