@import "variables";
@import "mixins";

.entry {
  @include border-radius(5px);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-sizing: border-box;
  background-color: white;
  margin-bottom: $space-size-medium;

  &-header {
    box-sizing: border-box;
    position: relative;
    padding: $space-size-medium;
  }

  &-title {
    text-align: left;
    margin-top: 0 !important;
  }

  &-meta {
    display: inline-block;
    padding: 0;

    li {
      display: inline;
      list-style: none;

      &:not(&:first-child):before {
        content: "/";
      }
    }
  }

  &-thumbnail {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $space-size-medium;
    max-height: 350px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
  }
  .badge-bar {
    max-height: 50px;
    width: 100%;
    text-align: right;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;

    span:first-child {
      margin-right: 10px;
    }
  }

  &-body {
    box-sizing: border-box;
    padding: $space-size-medium;
    padding-top: 0;
  }

  &-footer {
    box-sizing: border-box;
    padding: $space-size-medium;
    padding-top: 0;
  }

  &-tags {
    span {
      display: inline-block;
      margin-left: $space-size-small;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .entry-caption {
    padding: 20px 30px;
    text-align: center;
    p {
      font-size: $font-size-small-text;
      color: #a5a5a5;
      line-height: $font-line-height-small-text;
      &:last-child {
       margin-top: 10px;
      }
    }
  }

  .archive &, .blog & {
    &-title {
      font-size: $font-size-headline-2;
      line-height: $font-color-headline-2;
      a {
        color: $font-color-headline-2;
      }
    }

    &-thumbnail {
      @include border-top-radius($border-radius-default);
      margin-bottom: 0;
    }
  }
}

