@import "variables";
@import "mixins";
@import "../../vendor/bootstrap-4/scss/bootstrap-flex-grid";

.product-preview {
  @include border-radius($border-radius-default);
  @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, .2));
  margin-bottom: $space-size-medium;
  background-color: white;
  width: 100%;

  @include media-breakpoint-up(sm) {
    @include hard-gradient(to left, 55%, white, #f9f9f9);
    display: table;
  }

  @include media-breakpoint-up(md) {
    @include hard-gradient(to left, 60%, white, #f9f9f9);
  }

  &-teaser {
    @include border-top-left-radius($border-radius-default);
    width: 100%;
    display: block;

    @include media-breakpoint-up(sm) {
      width: 45%;
      display: table-cell;
      float: left;
      clear: left;
    }

    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }

  &-thumbnail {
    @include border-top-left-radius($border-radius-default);
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: $space-size-small;
    overflow: hidden;

    @include media-breakpoint-down(xs) {
      @include border-top-right-radius($border-radius-default);
    }

    img {
      @include border-top-left-radius($border-radius-default);
      width: 100%;
      height: auto;

      @include media-breakpoint-down(xs) {
        @include border-top-right-radius($border-radius-default);
      }
    }
  }

  &-no-thumbnail {
    min-height: 250px;

    .no-thumbnail-container {
      padding-bottom: 50px;
    }
  }

  &-badge {
    &-bar {
      width: 100%;
      padding: $space-size-small $space-size-medium;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
      min-height: 40px;
    }

    &-item {
      @include font-small-text;
      display: inline;
      padding: 5px 10px;
      margin-right: $space-size-small;
      color: white;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    width: 100%;
    display: block;
    padding: 0 $space-size-medium $space-size-medium $space-size-medium;

    @include media-breakpoint-up(sm) {
      width: 55%;
      padding-top: $space-size-medium;
      display: table-cell;
      float: right;
      clear: right;
    }

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }

  &-header {
    display: block;
    padding: 0;
    margin: 0;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }

      h1 {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &-title {
    @include font-headline-2;
    text-align: left;
    padding-bottom: $space-size-medium;
  }

  &-actions {
    @include border-bottom-left-radius($border-radius-default);
    width: 100%;
    display: block;
    padding: $space-size-medium;
    padding-top: 0;

    @include media-breakpoint-up(sm) {
      width: 45%;
      display: table-cell;
      float: left;
      clear: left;
    }

    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }

  &-updated-at,
  &-price-indication {
    @include font-small-text;
    text-align: center;
    display: block;
    width: 100%;
  }

  &-price-indication {
    padding: 0 $space-size-medium $space-size-small $space-size-medium;
  }

  &-updated-at {
    padding-top: $space-size-small;
  }
}