@import "variables";
@import "mixins";

.product {
  &-body {
    @include border-radius(5px);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    background-color: white;
    margin-bottom: $space-size-medium;
    box-sizing: border-box;
    padding: $space-size-medium;
  }

  &-header {
    .panel {
      box-sizing: border-box;
      padding: $space-size-medium;
    }
  }

  &-title {
    margin: 0;
    padding-bottom: $space-size-small;
  }

  &-excerpt {
    display: block;
    padding-bottom: $space-size-small;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-review {
    margin: 0;
    margin-top: (-1 * $space-size-small);
    padding-bottom: $space-size-small;

    @media #{$screen-xs-max} {
      &-number-rating::before {
        content: '\A';
        display: block;
      }
    }
  }

  &-details {
    tr[data-detail-name="price"] td:last-child {
      color: $price-comparison-current-price-color;
    }
  }

  &-thumbnail {
    padding: 0;
    margin: 0 auto $space-size-small auto;
    width: $product-thumbnail-width;
    height: $product-thumbnail-height;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $product-thumbnail-border;
    color: lightgrey;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-image-gallery {
    margin-bottom: $space-size-small;

    // Fixed some loading and stylistic bugs
    .slick {
      &-slider {
        visibility: hidden;

        &.slick-initialized {
          visibility: visible;
        }
      }

      &-slide {
        outline: none;
      }
    }

    .portfolio-slider {
      padding: 0;
      margin: 0 auto;
      width: $product-thumbnail-width;
      height: $product-thumbnail-height;
      display: block;
      box-sizing: content-box;
      border: $product-thumbnail-border;

      .slick-slider-item {
        outline: none;

        img {
          margin: 0 auto;
        }
      }
    }

    .thumb-slider {
      display: block;
      margin: $space-size-small auto 0 auto;
    }
  }
}
