@import "variables";
@import "mixins";
@import "../../vendor/bootstrap-4/scss/bootstrap-flex-grid";

.product {
  &-body {
    @include box-shadow();
    @include border-radius(5px);
    background-color: white;
    margin-bottom: $space-size-medium;
    box-sizing: border-box;
    padding: $space-size-medium;
  }

  &-header {
    .panel {
      box-sizing: border-box;
      padding: $space-size-medium;
    }
  }

  &-title {
    margin: 0;
    padding-bottom: $space-size-small;
  }

  &-excerpt {
    display: block;
    padding-bottom: $space-size-small;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-review {
    margin: 0;
    margin-top: (-1 * $space-size-small);
    padding-bottom: $space-size-small;

    @include media-breakpoint-only(xs) {
      &-number-rating::before {
        content: '\A';
        display: block;
      }
    }
  }

  &-details {
    tr[data-detail-name="price"] td:last-child {
      color: $price-comparison-current-price-color;
    }
  }

  &-thumbnail {
    padding: 0;
    margin: 0 auto $space-size-small auto;
    width: $product-thumbnail-width;
    height: $product-thumbnail-height;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $product-thumbnail-border;
    color: lightgrey;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-image-gallery {
    margin-bottom: $space-size-small;

    // Fixed some loading and stylistic bugs
    .slick {
      &-slider {
        visibility: hidden;

        &.slick-initialized {
          visibility: visible;
        }
      }

      &-slide {
        outline: none;
      }
    }

    .portfolio-slider {
      padding: 0;
      margin: 0 auto;
      width: $product-thumbnail-width;
      height: $product-thumbnail-height;
      display: block;
      box-sizing: content-box;
      border: $product-thumbnail-border;

      .slick-slider-item {
        outline: none;

        img {
          margin: 0 auto;
        }
      }
    }

    .thumb-slider {
      display: block;
      margin: $space-size-small auto 0 auto;
    }
  }

  &-upload-images {
    flex-wrap: wrap;
    text-align: center;
    line-height: 0.5;
  }
}

.product-preview {
  @include box-shadow();
  @include border-radius();
  margin-bottom: $space-size-medium;
  background-color: white;
  width: 100%;

  @include media-breakpoint-up(sm) {
    @include hard-gradient(to left, 55%, white, #f9f9f9);
    display: table;
  }

  @include media-breakpoint-up(md) {
    @include hard-gradient(to left, 60%, white, #f9f9f9);
  }

  &-teaser {
    @include border-top-left-radius();
    width: 100%;
    display: block;

    @include media-breakpoint-up(sm) {
      width: 45%;
      display: table-cell;
      float: left;
      clear: left;
    }

    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }

  &-thumbnail {
    @include border-top-left-radius();
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: $space-size-small;
    overflow: hidden;

    @include media-breakpoint-down(xs) {
      @include border-top-right-radius();
    }

    img {
      @include border-top-left-radius();
      width: 100%;
      height: auto;

      @include media-breakpoint-down(xs) {
        @include border-top-right-radius();
      }
    }
  }

  &-no-thumbnail {
    min-height: 250px;

    .no-thumbnail-container {
      padding-bottom: 50px;
    }
  }

  &-badge {
    &-bar {
      width: 100%;
      padding: $space-size-small $space-size-medium;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
      min-height: 40px;
    }

    &-item {
      @include font-small-text;
      display: inline;
      padding: 5px 10px;
      margin-right: $space-size-small;
      color: white;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    width: 100%;
    display: block;
    padding: 0 $space-size-medium $space-size-medium $space-size-medium;

    @include media-breakpoint-up(sm) {
      width: 55%;
      padding-top: $space-size-medium;
      display: table-cell;
      float: right;
      clear: right;
    }

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }

  &-header {
    display: block;
    padding: 0;
    margin: 0;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }

      h1 {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &-title {
    @include font-headline-2;
    text-align: left;
    padding-bottom: $space-size-medium;
  }

  &-actions {
    @include border-bottom-left-radius();
    width: 100%;
    display: block;
    padding: $space-size-medium;
    padding-top: 0;

    @include media-breakpoint-up(sm) {
      width: 45%;
      display: table-cell;
      float: left;
      clear: left;
    }

    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }

  &-updated-at,
  &-price-indication {
    @include font-small-text;
    text-align: center;
    display: block;
    width: 100%;
  }

  &-price-indication {
    padding: 0 $space-size-medium $space-size-small $space-size-medium;
  }

  &-updated-at {
    padding-top: $space-size-small;
  }
}

#product-image-gallery {
  .slick-container {
    box-sizing: border-box;
    /*border: 1px dashed lightgrey;*/
    max-width: 300px;
    padding: 15px;
  }

  .slick-product-gallery {
    border: 1px solid #cdcdcd;
    background-color: #f9f9f9;
    width: 100%;

  }

  .slick-product-gallery .slick-track {
    height: 300px;
  }

  .slick-product-gallery .slick-slide {
    height: 100%;
    outline: none;
  }

  .slick-product-gallery .slick-slide figure,
  .slick-product-gallery .slick-slide img {
    width: 100%;
    display: block;
    margin: auto;
  }

  .slick-product-gallery .slick-prev:before,
  .slick-product-gallery .slick-next:before {
    color: black;
  }

  .slick-product-gallery .slick-slide .center,
  .slick-product-nav .slick-slide .center {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-product-nav {
    margin-top: 15px;
    width: 100%;
    max-width: 300px;
  }

  .slick-product-nav .slick-track {
    height: 100px;
  }

  .slick-product-nav .slick-slide {
    width: 25%;
    outline: none;
  }

  .slick-product-nav .slick-slide figure,
  .slick-product-nav .slick-slide img {
    height: 100%;
    overflow-x: hidden;
    display: block;
    margin: auto;
  }
}
