@import "mixins";

html, body {
  @include font-default;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

h1 {
  @include font-headline-1;
}

h2 {
  @include font-headline-2;
}

h3 {
  @include font-headline-3;
}

h4 {
  @include font-headline-4;
}

h5 {
  @include font-headline-5;
}

h6 {
  @include font-headline-6;
}

p, small {
  @include font-text;
}
