// Screen size
$screen-xs-min:   "only screen and (min-width:none)";
$screen-xs-max:   "only screen and (max-width:520px)";
$screen-xs-sm:    "only screen (min-width: none) and (max-width:767px)";

$screen-sm-min:   "only screen and (min-width:768px)";
$screen-sm-max:   "only screen and (max-width:991px)";
$screen-sm-md:    "only screen (min-width: 768px) and (max-width:991px)";

$screen-md-min:   "only screen and (min-width:992px)";
$screen-md-max:   "only screen and (max-width:1199px)";
$screen-md-lg:    "only screen (min-width: 992px) and (max-width:1199px)";

$screen-lg-min:   "only screen and (min-width:1200px)";
$screen-lg-max:   "only screen and (max-width:none)";

// Space size
$space-size-extra-small:    5px;
$space-size-small:          15px;
$space-size-medium:         30px;
$space-size-big:            60px;
$space-size-extra-big:      120px;

// Font size
$font-size-default:       16px;
$font-size-headline-1:    2.4rem;
$font-size-headline-2:    1.8rem;
$font-size-headline-3:    1.6rem;
$font-size-headline-4:    1.4rem;
$font-size-headline-5:    1.2rem;
$font-size-headline-6:    1rem;
$font-size-big-text:      1.2rem;
$font-size-text:          1rem;
$font-size-small-text:    0.8rem;

// Font family
$font-family-default:      'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
$font-family-headline-1:   $font-family-default;
$font-family-headline-2:   $font-family-default;
$font-family-headline-3:   $font-family-default;
$font-family-headline-4:   $font-family-default;
$font-family-headline-5:   $font-family-default;
$font-family-headline-6:   $font-family-default;
$font-family-big-text:     $font-family-default;
$font-family-text:         $font-family-default;
$font-family-small-text:   $font-family-default;

// Font weight
$font-weight-default:      normal;
$font-weight-headline-1:   500;
$font-weight-headline-2:   500;
$font-weight-headline-3:   500;
$font-weight-headline-4:   500;
$font-weight-headline-5:   500;
$font-weight-headline-6:   500;
$font-weight-big-text:     normal;
$font-weight-text:         normal;
$font-weight-small-text:   normal;

// Font color
$font-color-default:      #555;
$font-color-headline-1:   black;
$font-color-headline-2:   $font-color-headline-1;
$font-color-headline-3:   $font-color-headline-1;
$font-color-headline-4:   $font-color-headline-1;
$font-color-headline-5:   $font-color-headline-1;
$font-color-headline-6:   $font-color-headline-1;
$font-color-big-text:     $font-color-default;
$font-color-text:         $font-color-default;
$font-color-small-text:   $font-color-default;

// Font line height
$font-line-height-default:      $font-size-default * 1.8;
$font-line-height-headline-1:   $font-size-headline-1 * 1.1;
$font-line-height-headline-2:   $font-size-headline-2 * 1.2;
$font-line-height-headline-3:   $font-size-headline-3 * 1.3;
$font-line-height-headline-4:   $font-size-headline-4 * 1.4;
$font-line-height-headline-5:   $font-size-headline-5 * 1.5;
$font-line-height-headline-6:   $font-size-headline-6 * 1.6;
$font-line-height-big-text:     $font-line-height-default;
$font-line-height-text:         $font-line-height-default;
$font-line-height-small-text:   $font-size-small-text * 1.2;

// Font letter spacing
$font-letter-spacing-default:      0.01rem;
$font-letter-spacing-headline-1:   $font-letter-spacing-default;
$font-letter-spacing-headline-2:   $font-letter-spacing-default;
$font-letter-spacing-headline-3:   $font-letter-spacing-default;
$font-letter-spacing-headline-4:   $font-letter-spacing-default;
$font-letter-spacing-headline-5:   $font-letter-spacing-default;
$font-letter-spacing-headline-6:   $font-letter-spacing-default;
$font-letter-spacing-big-text:     $font-letter-spacing-default;
$font-letter-spacing-text:         $font-letter-spacing-default;
$font-letter-spacing-small-text:   $font-letter-spacing-default;

// Box Shadow
$box-shadow-default:               0 1px 1px rgba(0, 0, 0, .2);

// Border Radius
$border-radius-default:            5px;

// Widgets
$widget-tagcloud-tag-background-color:  rgba(#555555, 0.1);
$widget-tagcloud-tag-border-color:      rgba(#555555, 0.1);

// Products
$product-thumbnail-width: 250px;
$product-thumbnail-height: 250px;
$product-thumbnail-border: 1px solid lightgrey;

// Price Comparison
$price-comparison-shop-border:              1px solid #ddd;
$price-comparison-current-price-color:      #2fa32f;
$price-comparison-old-price-color: rgb(255, 108, 96);

// Navbar
$navbar-background-color-active:             #e7e7e7;
$navbar-background-color:                    #f8f8f8;
$navbar-border-color:                        #555555;
$navbar-item-background-color:               #f8f8f8;
$navbar-item-background-color-hover:         #e7e7e7;
$navbar-text-color:                          #555555;
$navbar-link-color:                          #555555;
$navbar-link-color-hover:                    #000000;
$navbar-dropdown-background-color:           #434a54;
$navbar-dropdown-background-color-hover:     #e5e5e5;
$navbar-toggle-background-color:             #f8f8f8;
$navbar-toggle-background-color-hover:       #e7e7e7;
$navbar-toggle-border-color:                 #555555;
$navbar-toggle-border-color-hover:           #000000;

// Footer

$footer-copyright-color:                    #aab2bd;

// Social Media Buttons
$button-social-border-width:                2px;
$button-social-facebook-base-color:         #3B5998;
$button-social-pinterest-base-color:        #C92228;
$button-social-google-base-color:           #DC4A38;
$button-social-reddit-base-color:           #ff4500;
$button-social-twitter-base-color:          #3CF;

//TODO: Remove both variables
$navbar-font-color:                          black;
$navbar-item-background-color-hover:         $navbar-background-color-active;
